<h2 id="headerTitle">To Do</h2>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-success" id="addButton" ngbDropdownToggle>
    +
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <form [formGroup]="addForm" (ngSubmit) ="addTask()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          formControlName="title">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input
          type="text"
          class="form-control"
          formControlName="desc">
      </div>
      <div class="form-group">
        <label for="urgency">Urgency</label>
        <select
          type="number"
          class="form-control"
          formControlName="urgency">
          <option *ngFor="let urgency of urgencies" [value]="urgency">
            {{ urgency }}
          </option>
        </select>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="addForm.pristine">Submit</button>
    </form>
  </div>
</div>
<div id="task-container">
  <ul class="tasks">
    <li *ngFor="let task of tasklist; trackBy: trackTask">
      <img src="../assets/delete.png" (click)="deleteTask($event)">
      <img src="../assets/edit.png">
      <span class="badge" id="uBadge">{{task.urgency}}</span>
      <span id="titleSpan">{{task.title}}</span>
      <p>{{task.description}}</p>
      <span id="elemId">{{task.id}}</span>
    </li>
  </ul>
</div>